.login-form label{
	min-width:90px;
}

div.menu ul li a span{
	padding-left:8px;
}

div.menu ul li a:hover span{
	padding-left:11px;
	-webkit-transition: padding 0.2s linear;
   	-moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    -ms-transition: padding 0.2s linear;    
    transition: padding 0.2s linear ;
}

div.menu ul li.active a span{
	padding-left:8px;
}