body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.center {
	margin-left:8.75%;
}

.ui.width.fourtyfive {
	max-width:45%;
}


.ui.width.fiftyfive {
	max-width:55%;
}

.ui.width.sixtyfive {
	max-width:65%;
}

.ui.width.fiftyfive {
	max-width:75%;
}

.ui.width.eightyfive {
	max-width:85%;
}

.ui.widget{
	text-align:center;
	min-height:70px;
}
.ui.widget p.label{
	margin-top:0.4em;
}
.ui.orange.segment{
	border-top:0.2em solid orange
}
.ui.titled.segment>p{
	background-color:gray;
	margin:0;padding;0;
}
