<div class="ui center">
	<h1>logo</h1>
</div>
<div class="ui width fiftyfive form segment center" ng-controller="LoginController">
	<h3 class="ui header green">Welcome to Baasbox administration console</h3>
	<p>Some explanation blah blah blah</p>
	<form method="POST" class="ui form three fields" ng-submit="login()">
		<div class="field">
			<label for="username">username:</label>
			<div class="ui left labeled icon input">
				<input type="text" name="username" id="username" ng-model="username" value=""/>
				<i class="user icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
			
		</div>
		<div class="field">
			<label for="password">password:</label>
			<div class="ui left labeled icon input">
				<input type="password" name="password" id="password" ng-model="password" value=""/>
				<i class="lock icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
		</div>
		<div class="field">
			<label for="appcode">appcode:</label>
			<div class="ui left labeled icon input">
				<input type="text" name="appcode" id="appcode" ng-model="appcode"/>
				<i class="barcode icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
		</div>
		<input class="ui button submit green" type="submit" value="login"/>
			
	</form>	
	
</div>
