<div class="ui width fourtyfive form segment center" ng-controller="LoginController">
	<form method="POST" ng-submit="login()">
		<div class="inline field">
			<label for="username">username:</label>
			<div class="ui left labeled icon input">
				<input type="text" name="username" id="username" ng-model="username" value=""/>
				<i class="user icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
			
		</div>
		<div class="inline field">
			<label for="password">password:</label>
			<div class="ui left labeled icon input">
				<input type="password" name="password" id="password" ng-model="password" value=""/>
				<i class="lock icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
		</div>
		<div class="inline field">
			<label for="appcode">appcode:</label>
			<div class="ui left labeled icon input">
				<input type="text" name="appcode" id="appcode" ng-model="appcode"/>
				<i class="barcode icon"></i>
				<div class="ui corner label">
            		<i class="icon asterisk"></i>
          		</div>
			</div>
		</div>
		<input class="ui button submit red" type="submit" value="login"/>
			
	</form>	
</div>