<div class="login-form-container" ng-controller="LoginController">
	<form method="POST">
		<div class="ic clearfix">
			<label> username:</label>
				<input type="text" name="username" value=""/>
			
		</div>
		<div class="ic clearfix">
			<label> password:</label>
				<input type="password" name="password" />
			
		</div>
		<div class="ic clearfix">
			<label> appcode:</label>
				<input type="text" name="appcode" />
			
		</div>
		<div class="ic clearfix">	
			<input type="submit" value="login"/>
		</div>	
	</form>	
</div>