<div id="main-page" class="ui page grid" data-ng-controller="DashboardController">
				<div class="four wide column">
					<div class="ui vertical menu">
						<div class="item">Main 
							<div class="menu">
								<menuitem class="item" icon="dashboard" path="dashboard">dashboard</menuitem>
								<menuitem class="item" icon="settings" path="settings">settings</menuitem>
								<menuitem class="item" icon="hdd" path="dbmanager">dbmanager</menuitem>
							</div>
						</div>
						<div class="item">Users
							<div class="menu">
								<menuitem class="item" icon="user" path="users">users</menuitem>
							</div>
						</div>
						<div class="item">Documents
							<div class="menu">
								<menuitem class="item" icon="book" path="collections">collections</menuitem>
								<menuitem class="item" icon="file" path="documents">documents</menuitem>
							</div>
						</div>
						<div class="item" >Assets
							<div class="menu">
								<menuitem class="item" icon="archive " path="assets">assets</menuitem>
							</div>
						</div>
					</div>
					<label style="display:none" id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div>
	<div data-ui-view class="nine wide column"></div>
</div>
