<div id="main-page" class="ui page grid" >
				<div class="four wide column">
					<div class="ui vertical menu">
						<div class="item">Main 
							<div class="menu">
								<a menuitem class="item"  path="dashboard"><i class="icon dashboard"></i>dashboard</a>
								<a menuitem class="item"  path="settings"><i class="icon settings"></i>settings</a>
								<a menuitem class="item"  path="dbmanager"><i class="icon hdd"></i>dbmanager</a>
							</div>
						</div>
						<div class="item">Users
							<div class="menu">
								<a menuitem class="item" path="users"><i class="icon user"></i>users</a>
							</div>
						</div>
						<div class="item">Documents
							<div class="menu">
								<a menuitem class="item"  path="collections"><i class="icon book"></i>collections</a>
								<a menuitem class="item"  path="documents"><i class="icon file"></i>documents</a>
							</div>
						</div>
						<div class="item" >Assets
							<div class="menu">
								<a menuitem class="item" " path="assets"><i class="icon archive"></i>assets</a>
							</div>
						</div>
					</div>
				</div>
	<div data-ui-view class="eleven wide column"></div>
</div>
